<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INT422A1</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="content">
        <div class="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <hr>
        <div class="body">
            @RenderBody()
        </div>
        <hr>
        <footer>
            <p>Copyright ealejandro®</p>
        </footer>
    </div>
</body>
</html>
