@model INT422A1.Models.Phone
<tr>
    <td>@Html.DisplayFor(phone => phone.PhoneName)</td>
    <td>@Html.DisplayFor(phone => phone.Manufacturer)</td>
    <td>@Html.DisplayFor(phone => phone.MSRP)</td>
    <td>@Html.DisplayFor(phone => phone.DateReleased)</td>
</tr>
